*{
    padding:0;
    margin:0;
}

body{
    margin: 1rem;
}
 a{
    text-decoration: none;
    color:black;
}
img{
    max-height: 200px;
    max-width: 175px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.card{
    
    max-width: 375px;
    height: fit-content;
    border:none;
    
}
div .card{
    display:grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}





.btn{
    background-color: gainsboro;
    border:none;
    padding:.5em;
    background-color: rgb(169, 166, 166);
}
